body {
  background-color: #ffffff;
}

#wrapper {
  margin: 24px auto;
  width: 1200px;
  border: 1px solid black;
  padding: 24px;
  background-color: #E6E5E9;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

nav {
  grid-column: span 12;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}

nav li {
  display: inline;
}

nav li a {
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  transition: color .5s;
}

nav li a:hover {
  color: #8A8888;
}

#Home {
  grid-column: span 2;
  color: #8A8888;
  font-family: Arial, sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  text-shadow: 2px 2px 2px #8A8888;
}

#Projects {
  grid-column: span 2;
  color: #8A8888;
  font-family: Arial, sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  text-shadow: 2px 2px 2px #8A8888;
}

#RZ {
  grid-column: span 4;
text-align: center;
font-size: 150px;
border: 1px solid #3F8DE7;
padding: 15px;
background-color: #3F8DE7;
color: white;
border-radius: 90px;
text-shadow: 4px 4px 4px #8A8888;
}

#About {
  grid-column: span 2;
  color: #8A8888;
  font-family: Arial, sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  text-shadow: 2px 2px 2px #8A8888;
}

#Contact {
  grid-column: span 2;
  color: #8A8888;
  font-family: Arial, sans-serif;
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  text-shadow: 2px 2px 2px #8A8888;
}

a:visted {
  color:white;
}

header {
  grid-column: span 12;
  color: #8A8888;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  font-weight: bold;
  border-bottom: 3px solid #8A8888;
  margin: 10px;
  padding: 0px;
  text-align: center;
  text-shadow: 2px 2px 2px white;
}

main {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 24px;
}
#VCV {
  grid-column: span 12;
  margin-left: auto;
  margin-right: auto;
  margin-top: 17px;
  background-color: #ccc;
  box-shadow: 10px 10px 10px #666;
}

#VCVText {
  grid-column: span 12;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}

#BestFriend {
  grid-column: span 6;
  margin-left: auto;
  margin-right: auto;
  background-color: #ccc;
  box-shadow: 10px 10px 10px #666;
}
#BestFriendText {
  grid-column: span 6;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
font-family: 'Source Sans Pro', sans-serif;
  }
#Clefs {
  grid-column: span 6;
  margin-left: auto;
  margin-right: auto;
  background-color: #ccc;
  box-shadow: 10px 10px 10px #666;
}

#ClefsText {
  grid-column: span 6;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Source Sans Pro', sans-serif;
}
footer {
  grid-column: span 12;
  border-top: 3px solid #8A8888;
  margin-top: 45px;
  padding-top: 30px;
  vertical-align: middle;
  font-family: 'Source Sans Pro', sans-serif;
  display: inline;
}

footer a {
  color: #8A8888;
  text-decoration: none;
  font-size: 38px;
  margin: 8px;
}
